{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
    <!-- shopping-cart-area start -->
    <div class="cart-main-area ptb-100">
        <div class="container">
            <h3 class="page-title">Your cart items</h3>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Unit Price</th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart %}
                                
                                    {% with product=item.product %}
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="{{ product.get_absolute_url }}">
                                                    <img src="{% if product.image %}{{ product.image.url }} {% else %}{% static 'images/no_image.jpg' %}{% endif %}" width="80">
                                                </a>
                                            </td>
                                            <td class="product-name"><a href="{{ product.get_absolute_url }}">{{product.name|title}}</a></td>
                                            <td class="product-price-cart"><span class="amount">${{product.price}}</span></td>
                                            <td class="product-quantity">
                                                <div class="pro-dec-cart">
                                                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                                        
                                                        {{ item.update_quantity_form.quantity }}                                                    
                                                        {{ item.update_quantity_form.update }}
                                                        {% csrf_token %}

                                                        <button type="submit"><span>Update</span></button>
                                                    </form>
                                                </div>
                                            </td>
                                            <td class="product-subtotal">${{ item.total_price }}</td>
                                            <td class="product-remove">
                                                <a href="{% url 'cart:cart_remove' product.id%}"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                    {% endwith %}

                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a href="{% url 'shop:product_list' %}">Continue Shopping</a>
                                </div>
                                <div class="cart-clear">
                                    <a href="#">Clear Shopping Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="discount-code-wrapper">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4> 
                                </div>
                                <div class="discount-code">
                                    <p>Enter your coupon code if you have one.</p>
                                    <form action="{% url "coupons:apply" %}" method="post">
                                        {% csrf_token %}
                                        {{ coupon_apply_form.code }}
                                        <button class="cart-btn-2" type="submit">Apply Coupon</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <div class="grand-totall">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                                </div>
                                <h5>Total products <span>${{ cart.get_total_price|floatformat:"2" }}</span></h5>
                                
                                {% if cart.coupon %}
                                    <div class="total-shipping">
                                        <ul>
                                            <li><span>{{ cart.coupon.code }}</span></li>
                                            <li><span>{{ cart.coupon.discount }}% off</span></li>
                                            <li><span>${{ cart.get_discount|floatformat:"2" }}</span></li>                                            
                                        </ul>                                        
                                    </div>
                                {% endif %}

                                <h4 class="grand-totall-title">Grand Total  <span>${{ cart.get_total_price_after_discount|floatformat:"2" }}</span></h4>
                                <a href="{% url 'orders:order_create' %}">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}