{% extends "shop/base.html" %}

{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}

    <!-- Product Deatils Area Start -->
        <div class="product-details pt-100 pb-95">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="product-details-img">
                            <img class="zoompro" src="{% if product.image %}{{ product.image.url }}{% else %} {% static 'images/no_image.jpg' %}{% endif %}" data-zoom-image="{% if product.image %}{{ product.image.url }}{% else %} {% static 'images/no_image.jpg' %}{% endif %}" alt="zoom"/>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="product-details-content">
                            <h4>{{ product.name|title }}</h4>
                            <span>${{ product.price }}</span>
                            <div class="in-stock">
                                <p>Available: <span>In stock</span></p>
                            </div>
                            <p>
                                {{ product.description|linebreaks }}
                            </p>
                            <div class="quality-add-to-cart">
                                <form action="{% url 'cart:cart_add' product.id %}" method="post">

                                    {% csrf_token %}
                                    <div class="form-group col-sm-2">
                                      {{ cart_product_form.quantity }}
                                    </div>
                                    
                                    <div class="button-box">
                                        <button type="submit"><span>Add to cart</span></button>
                                    </div>
                                </form>
                            </div>
                            <div class="pro-dec-categories">
                                <ul>
                                    <li class="categories-title">Categories:</li>
                                    <li><a href="{{ product.category.get_absolute_url }}">{{product.category|title }}</a></li>
                                </ul>
                            </div>
                            <div class="pro-dec-social">
                                <ul>
                                    <li><a class="tweet" href="#"><i class="ion-social-twitter"></i> Tweet</a></li>
                                    <li><a class="share" href="#"><i class="ion-social-facebook"></i> Share</a></li>
                                    <li><a class="google" href="#"><i class="ion-social-googleplus-outline"></i> Google+</a></li>
                                    <li><a class="pinterest" href="#"><i class="ion-social-pinterest"></i> Pinterest</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- Product Deatils Area End -->
{% endblock %}