{% extends "shop/base.html" %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}

    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-image-3 ptb-150" style="background-image: url({% static 'images/breadcrumb.jpg' %})">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h3>ABOUT US</h3>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->


    <!-- About Us Area Start -->
    <div class="about-us-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 d-flex align-items-center">
                    <div class="overview-content-2">
                        <h4>Welcome To</h4>
                        <h2>Our TeaCorp Store!</h2>
                        <p class="peragraph-blog">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="overview-img text-center">
                        <a href="#">
                            <img src="{% static 'images/about-us.jpg' %}" alt="About us image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Area End -->


    <!-- Team Area Start -->
    <div class="team-area pt-95 pb-70">
        <div class="container">
            <div class="product-top-bar section-border mb-50">
                <div class="section-title-wrap style-two text-center">
                    <h3 class="section-title">Team Members</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-wrapper mb-30">
                        <div class="team-img">
                            <a href="#">
                                <img src="{% static 'images/team-1.jpg' %}" alt="">
                            </a>
                            <div class="team-action">
                                <a class="action-plus facebook" href="#">
                                    <i class="ion-social-facebook"></i>
                                </a>
                                <a class="action-heart twitter" title="Wishlist" href="#">
                                    <i class="ion-social-twitter"></i>
                                </a>
                                <a class="action-cart instagram" href="#">
                                    <i class="ion-social-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h4>Bob Lee</h4>
                            <span>Manager </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-wrapper mb-30">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img src="{% static 'images/team-2.jpg' %}" alt="">
                            </a>
                            <div class="team-action">
                                <a class="action-plus facebook" href="#">
                                    <i class="ion-social-facebook"></i>
                                </a>
                                <a class="action-heart twitter" title="Wishlist" href="#">
                                    <i class="ion-social-twitter"></i>
                                </a>
                                <a class="action-cart instagram" href="#">
                                    <i class="ion-social-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h4>Julie</h4>
                            <span>Developer </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team Area End -->

{% endblock content %}