{% extends "shop/base.html" %}
{% load static %}

{% block title %}Contact Us{% endblock title %}

{% block content %}

    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-image-3 ptb-150" style="background-image: url({% static 'images/breadcrumb.jpg' %})">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h3>CONTACT US</h3>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->

	<div class="container mt-3">
		<div class="row">
			<div class="col-md-12">
				{% if messages %}
				<ul>
					{% for message in messages %}
						{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
							<li class="alert alert-success">{{message}}</li>						
						{% endif %}
					{% endfor %}
				</ul>
				{% endif %}	
			</div>
		</div>
	</div>

    <!-- Contact Area Start -->
	<div class="contact-us ptb-95">
		<div class="container">
			<div class="row">
				<!-- Contact Form Area Start -->
				<div class="col-lg-6">
					<div class="small-title mb-30">
						<h2>Contact Form</h2>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority Lorem Ipsum available.</p>
					</div>
					<form id="" action="." method="post">
						{% csrf_token %}
						<div class="row">
							<div class="col-lg-6">
								<div class="contact-form-style mb-20">
									{{form.fullname}}
								</div>
							</div>
							<div class="col-lg-6">
								<div class="contact-form-style mb-20">
									{{form.email}}
								</div>
							</div>
							<div class="col-lg-12">
								<div class="contact-form-style mb-20">
									{{form.subject}}
								</div>
							</div>
							<div class="col-lg-12">
								<div class="contact-form-style">
									{{form.message}}
									<button class="submit" type="submit" id="contact_us_btn">SEND MESSAGE</button>
								</div>
							</div>
						</div>
					</form>
					<p class="form-messege"></p>
				</div>
				<!-- Contact Form Area End -->

				<!-- Contact Address Strat -->
				<div class="col-lg-6">
					<div class="small-title mb-30">
						<h2>Contact Address</h2>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority Lorem Ipsum available.</p>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="contact-information mb-30">
								<h4>Our Address</h4>
								<p>House. 9, Road. 12, Widgets. Orled. Sydney. Milaro.</p>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="contact-information contact-mrg mb-30">
								<h4>Phone Number</h4>
								<p>
									<a href="tel:01234567890">01234 567 890</a>
									<a href="tel:01234567891">01234 567 891</a>
								</p>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="contact-information contact-mrg mb-30">
								<h4>Web Address</h4>
								<p>
									<a href="mailto:info@example.com">info@example.com</a>
									<a href="#">www.example.com</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Contact Address Strat -->

			</div>
		</div>
	</div>
	<!-- Contact Area Start -->

{% endblock content %}
