{% extends "shop/base.html" %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block content %}

    <!-- Hero Image -->
    <div class="slider-area">
        <div class="slider-active owl-dot-style owl-carousel">
            <div class="single-slider ptb-240 bg-img" style="background-image:url({% static 'images/slider/slider-1.jpg' %});">
                <div class="container">
                    <div class="slider-content slider-animated-1">
                        <h1 class="animated">Want to stay <span class="theme-color">healthy</span></h1>
                        <h1 class="animated">drink chai.</h1>
                        <p>The tea leaf is a product of the Earth's fertile soil, radiant sun and nurturing rain. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Image End -->

    <!-- featured products -->
    {% static 'images/bg-1.jpg' as featured_products_bg %}
    <div class="product-area bg-image-1 pt-100 pb-95" style="background-image: url({{featured_products_bg}}) ">
        <div class="container">
            <div class="featured-product-active hot-flower owl-carousel product-nav">

                {% for product in object_list %}
                    <div class="product-wrapper">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img alt="" src="{% if product.image %}{{product.image.url}}{% else %} {% static 'images/no_image.jpg' %} {% endif %} ">
                            </a>
                            <span>-20%</span>
                            <div class="product-action">
                                <a class="action-wishlist" href="#" title="Wishlist">
                                    <i class="ion-android-favorite-outline"></i>
                                </a>
                                <a class="action-cart" href="#" title="Add To Cart">
                                    <i class="ion-ios-shuffle-strong"></i>
                                </a>
                                <a class="action-compare" href="#" data-target="#exampleModal" data-toggle="modal" title="Quick View">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-content text-left">
                            <div class="product-hover-style">
                                <div class="product-title">
                                    <h4>
                                        <a href="#">{{product.name}}</a>
                                    </h4>
                                </div>
                                <div class="cart-hover">
                                    <h4>
                                        <a href="#">+ {{product.name}}</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="product-price-wrapper">
                                <span>{{product.price}} -</span>
                                <span class="product-price-old">{{product.price}} </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- end featured products -->


    <!-- Banner to show two chai of the day -->
    <div class="banner-area pt-100 pb-70">
        <div class="container">
            <div class="banner-wrap">
                <div class="row">
                {% for product in products %}
                    <div class="col-lg-6 col-md-6">
                        <div class="single-banner img-zoom mb-30">
                            <a href="{% url 'shop:product_detail' product.id product.slug %}">
                                <img src="{% if product.image %}{{product.image.url}}{% else %} {% static 'images/no_image.jpg' %} {% endif %} " alt="">
                            </a>
                            <div class="banner-content">
                                <h4>-50% Sale</h4>
                                <h5>{{ product.name }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- end Banner to show two chai of the day -->

{% endblock content %}